<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" lang="en">
<head>
    <title>Books List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg" layout:fragment="content">
    <div class="container mt-2.5 mb-4">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <form method="get" th:action="@{/books}" th:object="${keywordForm}" class="input-group">
                    <input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Search for books...">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="card-header d-flex justify-content-between align-items-center">
        <span>Books list</span>
        <a href="/add" class="btn btn-primary">Add a book</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="p-4">
                <div class="flex items-center">
                    <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox-all-search" class="sr-only">checkbox</label>
                </div>
            </th>
            <th scope="col" class="px-6 py-3">Book ID</th>
            <th scope="col" class="px-6 py-3">Title</th>
            <th scope="col" class="px-6 py-3">Author</th>
            <th scope="col" class="px-6 py-3">Category</th>
            <th scope="col" class="px-6 py-3">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" th:each="book : ${listOfBooks}">
            <td class="w-4 p-4">
                <div class="flex items-center">
                    <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                </div>
            </td>
            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" th:text="${book.id}"></td>
            <td class="px-6 py-4">
                <a th:href="@{/bookDetails/{id}(id=${book.id})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                    <span th:text="${book.title}"></span>
                </a>
            </td>
            <td class="px-6 py-4" th:text="${book.author}"></td>
            <td class="px-6 py-4" th:text="${book.category}"></td>
            <td class="items-center px-6 py-4">
                <a th:href="@{/editBook(id=${book.getId()})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                <a th:href="@{/deleteBook(id=${book.getId()})}" class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="container">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:each="pageNumber, stat: ${#numbers.sequence(0, pages - 1)}">
                <a class="page-link" th:text="${pageNumber + 1}" th:href="@{/books(page=${pageNumber}, keyword=${keyword})}"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
